@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.dw-container{
    display: grid;
    grid-template-rows: [main] 50px [info] 515px [graph-end] 50px [container-end];
    grid-template-columns: [main] 50px [info] 250px [graph-start] 650px [graph-end] 50px [container-end];
    width: 1000px;
    height: 615px;
    background: rgb(98, 154, 245);
    overflow: hidden;
    position: absolute; /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.graph-style{
    grid-row-start: info;
    grid-row-end: graph-end;
    grid-column-start: graph-start;
    grid-column-end: graph-end;
    margin-top: 10px;
    width:600px;
    height: 515px;
}

.city-style{
    grid-row-start: city;
    grid-row-end: temperature;
    margin-left: 10px;
    font-weight: 600;
    max-width: 20px;
    font-size: 26px;
    color: #e8efff;
}

.info-style{
    display: grid;
    grid-row-start: info;
    grid-row-end: graph-end;
    grid-column-start: info;
    grid-column-end: graph-start;
    margin-top: 10px;
    width: 240px;
    height: 515px;
    grid-template-rows: [city] 50px [temperature] 275px [humidity] 50px [wind] 50px [info-end];
}

.exit-style{
    grid-row-start: main;
    grid-row-end: info;
    grid-column-start: main;
    grid-column-end: info;
}

.degree-style-detailed{
    font-weight: bold;
    font-size: 125px;
    padding-top: 60px;
    padding-bottom: 75px;
    margin-left: 10px;
    color: #ffffff;
}

.degree-container{
    grid-row-start: temperature;
    grid-row-end: humidity;
    height: 20px;
    width: 20px;
}

.humidity-detailed{
    grid-row-start: humidity;
    grid-row-end: wind;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: #d0deff;
}

.humidity-percentage-detailed{
    grid-row-start: humidity;
    grid-row-end: wind;
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    color: #d0deff;
}

.wind-detailed{
    display: inline;
    float: left;
    grid-row-start: wind;
    grid-row-end: info-end;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: #d0deff;
}

.wind-speed-detailed{
    display: inline;
    float: right;
    grid-row-start: wind;
    grid-row-end: info-end;
    text-align: right;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    color: #d0deff;
}

.material-icons{
    transition: transform 0.2s;
    content: "close";
    padding: 10px;
    font-size: 40px;
    color: #b6cdff;
}

.material-icons:hover{
    transform: scale(1.1);
    color: #ffffff;
}