.container{
    width: 100%;
    height: 100%;

    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width:1600px;
    max-height:302px;
    min-height: 302px;
  }

.weather-table{
    outline: 0;
    grid-template-columns: auto;
    -moz-column-count:5;
    -moz-column-width: 30%;
    -webkit-column-count:5;
    -webkit-column-gap: 3%;
    -webkit-column-width: 30%;
    column-count: 5;
    column-gap: 3%;
    column-width: 30%;
    min-width: 1600px; /*change depending on layout*/
}

