.weather-style {
    margin-left: 20px;
    margin-top: 15px;
    grid-row-start: title;
    grid-row-end: degrees;
    font-size: 36px;
    font-weight: 600;
    color: #556382;
}

.card-style {
    position: relative;
    background: #212936;
    width: 292px;
    height: 292px;
}

.degree-style {
    grid-row-start: degrees;
    grid-row-end: humidity;
    font-weight: bold;
    font-size: 96px;
    margin-left: 20px;
    color: #a2aecb;
}

.humidity-style {
    display: inline;
    float: left;
    grid-row-start: humidity;
    grid-row-end: wind;
    font-size: 24px;
    color: #556382;
    margin-left: 20px;
    font-weight: 600;
}

.humidity-percentage {
    display: inline;
    float: right;
    grid-row-start: humidity;
    grid-row-end: wind;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    padding-left: 20px;
    margin-right: 20px;
    color: #a2aecb;
}

.wind-style {
    display: inline;
    float: left;
    grid-row-start: wind;
    grid-row-end: container-end;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding: 20px;
    color: #556382;
}

.wind-speed {
    display: inline;
    float: right;
    grid-row-start: wind;
    grid-row-end: container-end;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    padding: 20px;
    color: #a2aecb;
}

.weather-container {
    display: grid;
    grid-template-rows: [title] 75px [degrees] 115px [humidity] 50px [wind] 50px [container-end];
    width: 305px;
    height: 305px;
    overflow: hidden;
}

.card-style:hover {
    height: 305px;
    width: 305px;
    background: rgb(98, 154, 245);
    cursor: pointer;
}

.card-style:hover .degree-style {
    color: #ffffff;
}

.card-style:hover .wind-style {
    color: #b6cdff;
}

.card-style:hover .humidity-style {
    color: #b6cdff;
}

.card-style:hover .weather-style {
    color: #ffffff;
}
.card-style:hover .wind-speed {
    color: #ffffff;
}

.card-style:hover .humidity-percentage {
    color: #ffffff;
}
