.weather-style{
    margin-left: 20px;
    margin-top: 15px;
    grid-row-start: title;
    grid-row-end: degrees;
    font-size: 36px;
    font-weight: 600;
    color: #556382;
}

.card-style{
    position: relative;
    background: #212936;
    width: 302px;
    height: 302px;
}

.degree-style{
    grid-row-start: degrees;
    grid-row-end: humidity;
    font-weight: bold;
    font-size: 96px;
    margin-left: 20px;
    color: #A2AECB;
}

.humidity-style{
    display: inline;
    float: left;
    grid-row-start: humidity;
    grid-row-end: wind;
    font-size: 24px;    
    color: #556382;
    margin-left: 20px;
    font-weight: 600;
}

.humidity-percentage{
    display: inline;
    float: right;
    grid-row-start: humidity;
    grid-row-end: wind;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    padding-left: 20px;
    margin-right: 20px;
    color: #A2AECB;
}

.wind-style{
    display: inline;
    float: left;
    grid-row-start: wind;
    grid-row-end: container-end;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding: 20px;
    color: #556382;
}

.wind-speed{
    display: inline;
    float: right;
    grid-row-start: wind;
    grid-row-end: container-end;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    padding: 20px;
    color: #A2AECB;
}

.weather-container{
    display: grid;
    grid-template-rows: [title] 75px [degrees] 115px [humidity] 50px [wind] 50px [container-end];
    width: 322px;
    height: 322px;
    overflow: hidden;
}

.card-style:hover{
    height: 315px;
    width: 315px;
    background: rgb(98, 154, 245);
    cursor: pointer;
}

.card-style:hover .degree-style{
    color: #FFFFFF;
}

.card-style:hover .wind-style{
    color: #b6cdff;
}

.card-style:hover .humidity-style{
    color: #b6cdff;
}

.card-style:hover .weather-style{
    color: #FFFFFF;
}
.card-style:hover .wind-speed{
    color: #FFFFFF;
}

.card-style:hover .humidity-percentage{
    color: #FFFFFF;
}